@model TrainersIndexViewModel

@{
    ViewData["Title"] = "Captured pokemons";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Lives
            </th>
            <th>
                Speed
            </th>
            <th>
                Thumbnail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CapturedPokemons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Thumbnail)" />
            </td>
            <td>
                <a asp-controller="Pokemons" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Trainers" asp-action="Release" asp-route-pokemonId="@item.Id">Release</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_CaptureForm" />
