@model Pizza

@{
    List<string> errors = (List<string>)ViewBag.Errors;
}

<h2>Order details</h2>

@if (errors.Count > 0)
{
    @foreach (var error in errors)
    {
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }
}
else
{
    <div>
        <h4>Pizza</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExtraCheese)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExtraCheese)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
        </dl>
    </div>
}
<div>
    <a asp-action="Order">Back to order form...</a>
</div>

