@model IEnumerable<Student>

@{
    ViewData["Title"] = "Punten";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punten)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Punten.Any())
            {
                <tr class="table-secondary">
                    <td colspan="3">
                        @Html.DisplayFor(model => item.Naam)
                    </td>
                </tr>

                @foreach (var punt in item.Punten)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @punt.Vak.Naam – @punt.Score / 20 (@Html.DisplayFor(puntItem => punt.ScoreProcent))
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@punt.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@punt.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
