@model HomeIndexViewModel

@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="Index" method="get">
    <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
        <option selected="selected" value="">Kies een categorie...</option>
    </select>
    <input type="submit" value="Toon" />
</form>


@if (Model != null)
{
    @if (!Model.Products.Any())
    {
        <div>
            Geen producten in deze categorie...
        </div>
    }
    else
    {
        <form asp-controller="Home" asp-action="Order" method="post">    
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Products.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.ElementAt(i).Name)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.ElementAt(i).Description)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.ElementAt(i).Price)</td>
                            <td>
                                <div>
                                    <input asp-for="Products.ElementAt(i).Amount" name="products[@i].Amount"/>
                                    <input name="products[@i].Id" value="@Model.Products.ElementAt(i).Id" type="hidden" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <input type="submit" value="Bestellen" />
                <input type="hidden" asp-for="Category" />
            </div>
        </form>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}